    <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/modernizr.js"></script>
    <script src="{{ site.url }}/assets/js/foundation.min.js"></script>
    <script src="{{ site.url }}/assets/js/summer.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/nprogress.js"></script>
    <script>
      $(document).foundation();
    </script>

<script> 
  $(".tag-box, .filter").nextAll("h2").on("click", function(){
    if($(this).children("i").hasClass("fa-angle-double-right")){
      $(this).children("i").removeClass("fa-angle-double-right").addClass("fa-angle-double-down");
    }
    else if($(this).children("i").hasClass("fa-angle-double-down")){
      $(this).children("i").removeClass("fa-angle-double-down").addClass("fa-angle-double-right");
    }
    $(this).next().toggle();
  });
</script>


<script>
  if($(".summer-page-title h1").text()==="全部博文"){
    $("#keyword").bind("input", function (event) {
        var keyword = $("#keyword").val().toLowerCase();
        if (keyword !== "") {
          var $itemText;
          $(".post-list li a").each(function(index){
            $itemText=$(this).text().toLowerCase();
            if($itemText.indexOf(keyword) > -1){
                $(this).closest("li").show();
            }
            else{
                $(this).closest("li").hide();
            }
          })
        }
        else {
          $(".post-list li a").each(function(index){
            $(this).closest("li").show();
          })
        }
        
    });
  }
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
