<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>

<body class="post-template" itemscope itemtype="http://schema.org/WebPage">
    <main id="summer-post-container-simple" class="summer-post-container-simple" role="main">
        <header class="summer-post-header-simple">
            <div class="head-wrap">
                <div class="summer-post-menu-header-simple">
                    <a class="summer-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
                    </a>
                    <div class="summer-blog-menu">
                        <div class="summer-mobile-menu show-for-small">
                            <a href="#"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="summer-menu">
                            <li class="summer-mobile-close-btn show-for-small text-right">
                                <a href="#"><i class="fa fa-times"></i></a>
                            </li>
                            {% for link in site.links %}
                            <li>{% if link.external %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                                {% else %}
                                <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                                {% endif %} </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            <div class="summer-post-title-simple row">
                <div class="small-12 columns">
                    <div class="summer-post-meta-simple">
                        <h1>{{ page.title }}</h1>
                        <p>{% assign tagsize = page.tags.size %}{% if tagsize != 0 %} {% for tag in page.tags %}<a href="{{ site.url }}/categories/#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y.%m.%d" }}</time></strong></p>
                    </div>
                </div>
            </div>
        </header>
        <article class="summer-post-content post tag-simple">
            <div>
                {{ content }}
            </div>
        </article>
        {% include footer.html %}
    </main>
    {% include scripts.html %}
</body>
</html>
